<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hei maailma</title>
  </head>
  <body ng-app="MovieApp">
    <h1>MovieApp</h1>

    <div ng-controller="AddMovieController">
        
        <form name="movieForm">
        
        Name:<input type="text" ng-model="movieName"><br>
        Year:<input type="text" ng-model="movieYear"><br>
        Director:<input type="text" ng-model="movieDirector"><br>
        Description:<input type="text" ng-model="movieDescription"><br>
        <button ng-click="addMovie()">Add movie!</button>
        
        </form>
    </div>
    
    <div ng-controller="ListMoviesController">
        
        <table>
            <th>Movie</th>
            <th>Year</th>
            <th>Director</th>
            <th>Descripion</th>
            
            <tr ng-repeat="movie in movies">
                <td>{{movie.name}}</td>
                <td>{{movie.year}}</td>
                <td>{{movie.director}}</td>
                <td>{{movie.description}}</td>
            </tr>
        </table>
    </div>
    
    <!-- Hyödyllisiä kirjastoja -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>

    <!-- Linkitä omat tiedostosi tähän (huomaa, että polun juuri on web-kansio!) -->
    <script src="app/app.js"></script>    
    <script src="app/movieapp_service.js"></script>
    <script src="app/movieapp_controller.js"></script>
  </body>
</html>